.w-100 {
  width: 100%;
}

.m-b-1 {
  margin-bottom: 16px;
}

.m-b-2 {
  margin-bottom: 32px;
}

.m-t-0-1 {
  margin-top: 8px;
}

.d-flex {
  display: flex;
}

.end {
  text-align: end !important;
}

.no-margin-bottom {
  margin-bottom: 0 !important;
}

.end-flex {
  display: flex !important;
  justify-content: flex-end !important;
}

.between-flex {
  display: flex !important;
  justify-content: space-between !important;
}

nz-form-item {
  margin-bottom: 32px;
  display: block !important;
}

.ant-layout-sider {
  background: #161616 !important;
}

.ant-menu-dark {
  background: #0f0f0f !important;
}

.ant-menu-sub {
  background: #070707 !important;
}
